@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&lang=en");
// @import "bootstrap";
//https://www.palettable.io/687582-C111FA-000414-FC0A54-59DEEA
/*COLORS*/

$main-red: #e84118;
$main-purple: #8c7ae6;
$main-grey: #dcdde1;
$main-dark: #2f3640;
$main-green: #4cd137;
$main-light: #f5f6fa;
$blue: #00a8ff;
$main-yellow: #fbc531;

.octicon {
  fill: white;
}

.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: $main-yellow;
    border: 2px solid $main-green;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

body {
}

.border-header {
  background-color: $main-light;
  // border-top: 3px solid $main-purple;
  // border-bottom: 3px solid $main-purple;
}

.main-bg-red {
  background-color: $main-red
}

.main-text-red {
  color: $main-red
}

.main-bg-light {
  background-color: $main-light
}

.main-text-light {
  color: $main-light
}

.main-bg-purple {
  background-color: $main-purple
}

.main-text-purple {
  color: $main-purple
}

.main-bg-white {
  background-color: #F4FFFD
}

.main-bg-dark {
  background-color: $main-dark
}

.main-text-dark {
  color: $main-dark
}

.main-bg-blue {
  background-color: $blue;
}

.main-bg-grey {
  background-color: $main-grey
}

.main-text-grey {
  color: $main-grey
}

.btn-main-green {
  padding: 4px 12px;
  border: 2px solid rgba(255, 255, 255, 0.418);
  color: white;
  background-color: $main-green;
}

.letter-spacing {
  letter-spacing: 2px;
}

.font-size-13 {
  font-size: 13px;
}

.btn-hover:hover {
  border: 1px solid $main-grey;
  background-color: #FFE368;
}

.hidden { display: none }
