@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&lang=en");
// @import "bootstrap";

/*COLORS*/

$main-red: #FC0A54;
$main-purple: #C111FA;
$main-grey: #687582;
$main-dark: #000414;
$main-grean: #4B9E44;
$main-light: #15A3A1;

.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.main-bg-red {
  background-color: $main-red
}

.main-text-red {
  color: $main-red
}

.main-bg-light {
  background-color: $main-light
}

.main-text-light {
  color: $main-light
}

.main-bg-purple {
  background-color: $main-purple
}

.main-text-purple {
  color: $main-purple
}

.main-bg-white {
  background-color: #F4FFFD
}

.main-bg-dark {
  background-color: $main-dark
}

.main-text-dark {
  color: $main-dark
}

.main-bg-grey {
  background-color: $main-grey
}

.main-text-grey {
  color: $main-grey
}

.letter-spacing {
  letter-spacing: 2px;
}

.font-size-13 {
  font-size: 13px;
}

.btn-hover:hover {
  border: 1px solid $main-grey;
  background-color: #FFE368;
}

.hidden { display: none }
